/* index.css */

/* Remove margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure to use the correct font family for the entire app */
html, body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
  margin-bottom: 20px;
}
